.main-chat-area {
    display: flex;
    flex-direction: column;
    width: 67%;
  }
  
  .message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .message {
    margin-bottom: 20px;
    max-width: 70%;
  }
  
  .message.sent {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }
  
  .message-content {
    background-color: #3b3b3b87;
    color: white;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
  }
  
  .message.sent .message-content {
    background-color: #101e2bcf;
    color: white;
  }
  
  .timestamp {
    font-size: 0.8em;
    color: #bbbbbb;
    margin-top: 5px;
    display: block;
  }
  
  .input-area {
    display: flex;
    padding: 20px;
  }
  
  .input-area input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f2f5;
    margin-right: 10px;
  }
  
  .input-area button {
    padding: 10px 20px;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
.user-info-container{
  border-bottom: 1px solid #dddddd35;
  padding: 5px 20px;
}

.user-info-container div{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 500;
}